<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"><title>Quiz</title>
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    
  </head>
  <body>
    <h1> Autores:</h1>
    <h3> Laura Soria Simón y Barbara Recarte Steegman></h3>
    <img src= 'images/barbara.jpg' height ="400px" widht ="272px">
    <img src= 'images/laura.jpg' height ="400px" widht ="272px">
     
  </body>
  <footer>
    <p><a href="/index">Inicio</a></p>
  </footer>

</html>
