 <h3>Bienvenido a <%= title %></h3>

<p>El portal donde podrá crear sus propios juegos!</p>
<p><a href="quizes">Comience a jugar</a></p>
<p><a href="https://github.com/laurateleco2010/quiz.git">GitHub</a></p>